import(splines)
import(date)
import(survival)
import(relsurv)

importFrom("methods", "hasArg", "new")

importFrom("dplyr", "last")

importFrom("stats", "median", "optim", "pchisq", "pnorm", "predict",
             "quantile", "terms", "integrate", "as.formula", "model.matrix", "setNames")
  
importFrom("graphics", "abline", "lines", "plot.default", "grid", "segments")

export(survivalNET)
export(expectedcumhaz)
export(expectedhaz)

S3method(predict, survivalNET)
S3method(print, survivalNET)
S3method(plot, survivalNET)
#S3method(summary, survivalNET)
